<div class="uk-width-1-2 box">
  <h1>Login</h1>
  <hr>
  <label for="email" class="uk-form-label">E-mail</label>
  <input type="text" class="uk-input" [(ngModel)]="email" id="email" />
  <label for="senha" class="uk-form-label">Senha</label>
  <input type="text" class="uk-input" [(ngModel)]="senha" id="senha" />
  <div class="uk-flex uk-flex-between">
    <div>
      <button class="uk-button uk-button-primary">Entrar</button>
      <button class="uk-button uk-button-danger">Esqueci a senha</button>
    </div>
    <button class="uk-button uk-button-link">Cadastrar-me</button>
  </div>
</div>
