.box {
  margin: auto;
  margin-top: 10vh;
  padding: 50px;
  border-radius: 25px;
  border: solid 1px #ddd;
}

.shadow {
  box-shadow: 10px 10px #000;
}

.maozinha {
  transition: all 1s ease;
}

.maozinha:hover {
  transition: all 1s ease;
  background-color: #009;
  cursor: pointer;
}
